* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

a{
  color: inherit;
  text-decoration: none;
}

::spelling-error{
  color: red;
}
